div {
    display: flex;
    flex-direction: row;
    position: sticky;
    background-color: rgb(234, 178, 248);
    height: 2em;
    top: 0;
}

div a{
    background-color: rgb(172, 227, 248);
    border: 2px solid rgb(161, 161, 161);
    border-radius: 2px;
    padding: 0em 2em;
    display: flex;
    color: black;
}

div a:hover{
    background-color: rgb(50, 227, 248);
    text-decoration: dashed;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(114, 114, 114);
    
    
}
h2{
    text-align: center;
    text-decoration: dashed;
}

ul.navodila1{
    padding-left: 6em;
    padding-right: 40em;
     
}
img.Zgled{
    float: right;
    padding-right: 10em;
}
