table{
    border: 3px solid rgb(193, 36, 72);
    color: gray;
    width: 18em;  /*velikost tabele*/
    height: 18em;   /*velikost tabele*/
    border-radius: 0em 0em 1em 1em;  /*Tukaj je radius igralnega polja */
    margin-top: 3em ;
    margin-block-start: 0.67em; /*razmak dveh okvirckov*/
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-image: url(backgound.avif);


}

caption{
    border: 3px solid rgb(193, 36, 72);
    border-radius: 1em 1em 0em 0em; /*radius captiona*/
    margin-block-start: 0.67em; /*razmak dveh okvirckov*/
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-image: url(backgound.avif);
}
button{
    width: 1.8em; /*Velikost buttonov*/
    height: 1.8em; /*Velikost buttonov*/
    padding: 2.5em;
    
}
.bomba:hover{
    color: black;
}


colgroup{
    height: 20em;
}
body{
    background-image: url(background3.avif);
    background-repeat: no-repeat; /*se ne ponavlja slika kot background*/
    background-attachment: fixed;
    background-size: 100% 100%; /*slika cez cel bacground*/
    padding-left: 20em;
    padding-right: 40em;
}
h2{
    color: rgb(248, 166, 166);
    
}
a{
    border: 2px solid rgb(193, 36, 72);
    background-image: url(backgound.avif);
    background-size: 100% 100%;
    margin: -15em;
    padding: 1.5em;

}
div{
   top: 1em;
   padding-top: 1em;
   position: sticky; 
    
}